img{
    border: 2px solid black;
    border-radius: 170px;
    height: 350px;
    width: 350px;
    margin-top: 25px;
    margin-left: 300px;
    display: inline;
}
.header{
    border: 7px solid purple;
    margin-top: 5px 10px 20px 30px;
    background-color: rgb(177, 230, 255);

}
h1{
    display: block;
    margin: -41px 11px 5px 657px;
    
}
h5{
    margin: 7px 38px 30px 849px;
    display: block
}
ul{
    list-style-type: circle;
    
}
body{
    background-color: rgb(226, 226, 226);
}
